header {
    padding: 50px;
}

body {

    background-color: #131114;
    font-family: monospace;
    
}

.logo-img {
    height: 160px;
    width: 160px;
    margin-left: 0;
}




.input-text textarea {
    width: 880px;
    height: 480px;
    overflow: hidden;
    margin-top: -145px;
    margin-left: -300px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: #FEFAE3;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
    color: #FEFAE3;
   
}

.input-text {
    text-align: center;
    margin-right: 70px;
    
}

#text-input {
    text-align: center;
    line-break: normal;
    
}

::placeholder {
    color: #FEFAE3;
    font-weight: 400;
    font-size: 38px;
    height: 680px
}

.text-warning {
    margin-top: 20px;
    text-align: center;
    color: #fcfee8;
    font-size: 12px;
    font-weight: 400;
    margin-left: -400px;
    margin-bottom: 10px; 
}

.text-warning img {
    width: 14px;
    margin: -3px 8px;
   
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 400px;
    margin-bottom:60px;
}

#btn-cript {
    cursor: pointer;
    width: 328px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    background-color: #87F96E;
    color: #131114;
    border-radius: 24px;
    margin-right: 16px;
    box-shadow: 0px 4px 1px rgba(1, 1, 1, 0.25);
    transition: transform 0.1s ease-in-out; 
    font-family: monospace;
}

#btn-descript {
    cursor: pointer;
    width: 328px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    background-color: #FEFAE3;
    color: #131114;
    border: 1px solid #131114;
    border-radius: 24px;
    box-shadow: 0px 4px 1px rgba(1, 1, 1, 0.25);
    transition: transform 0.1s ease-in-out;
    font-family: monospace;
   
}

#btn-copy {
    cursor: pointer;
    width: 328px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    font-family: monospace;
    background-color: #87F96E;
    color: #131114;
    border: 1px solid #87F96E;
    border-radius: 24px;
    box-shadow: 0px 4px 1px rgba(1, 1, 1, 0.25);
    transition: transform 0.1s ease-in-out;
    position: fixed;
    bottom: 89px;
     left: 76.5%;

    

}

#btn-cript:hover {
    transform: scale(0.95);
}

#btn-descript:hover {
    transform: scale(0.95);
}

#btn-copy:hover {
    transform: scale(0.95);
}

aside {
    background-color: #FEFAE3;
    height: 700px;
    border-radius: 32px;
    position: absolute;
    top: 25px;
    right: 0px;
    left: 1350px;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
}

aside h1 {
    color: #001b30;
    font-weight: 700;
   
    text-align: center;
    font-size: 29px;
    
    
}

aside p {
    color: #495057;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    
}

aside button{
    margin-left: 12px;
    margin-top: 10px;
    background-color: #c5d9de;
}



#fig {
    width: 246px;
    height: 234px;
    margin: 154px 2px  15px 8px;
    left: 1032px;
}

.output-text{
    text-align: justify;
    word-break: break-all;
}

@media (max-width: 950px) {
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: static;
        width: 100vw;

    }

    #btn-copy {
        position: static; 
        margin-left: 5%;
}
#fig {
    display: none;
}
aside {
    background-color: #131114;
    margin-left: 40%;
    
}

aside p {
    color: #FEFAE3;
    font-size: 20px;
}

aside h1 {
    color: #87F96E;
    font-size: 36px;
}

.logo-img {
    height:300px;
    width: 300px;
    margin-left: 65%
}

.input-text textarea {
    margin-top:40px;
    margin-left: -70px;
    font-size: 80px;
}

.botoes {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left:55%;
    margin-top: 10px;
    margin-bottom: 10px;
    gap:10px;
}
.text-warning {
    margin-left: 20%;
}
}