
* {
    padding:0
}

body {
    background-color: #131114;
    font-family: monospace;
}

.logo-img {
    height: 160px;
    width: 160px;
    margin-left: 0;
}

.input-text textarea {
    width: 880px;
    height: 480px;
    overflow: hidden;
    margin-top: -145px;
    margin-left: -300px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: #FEFAE3;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
    color: #FEFAE3;
}

.input-text {
    text-align: center;
    margin-right: 70px;
}

#text-input {
    text-align: center;
    line-break: normal;
}

::placeholder {
    color: #FEFAE3;
    font-weight: 400;
    font-size: 38px;
    height: 680px
}

.text-warning {
    margin-top: 20px;
    text-align: center;
    color: #fcfee8;
    font-size: 12px;
    font-weight: 400;
    margin-left: -400px;
    margin-bottom: 10px;
}

.text-warning img {
    width: 14px;
    margin: -3px 8px;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 400px;
    margin-bottom: 60px;
}

#btn-cript {
    cursor: pointer;
    width: 328px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    background-color: #87F96E;
    color: #131114;
    border-radius: 24px;
    margin-right: 16px;
    box-shadow: 0px 4px 1px rgba(1, 1, 1, 0.25);
    transition: transform 0.1s ease-in-out;
    font-family: monospace;
}

#btn-descript {
    cursor: pointer;
    width: 328px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    background-color: #FEFAE3;
    color: #131114;
    border: 1px solid #131114;
    border-radius: 24px;
    box-shadow: 0px 4px 1px rgba(1, 1, 1, 0.25);
    transition: transform 0.1s ease-in-out;
    font-family: monospace;
}

#btn-copy {
    cursor: pointer;
    width: 328px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    font-family: monospace;
    background-color: #87F96E;
    color: #131114;
    border: 1px solid #87F96E;
    border-radius: 24px;
    box-shadow: 0px 4px 1px rgba(1, 1, 1, 0.25);
    transition: transform 0.1s ease-in-out;
    position: absolute; 
    left: 12%;
    transform: translateX(-2%);
    margin: auto;
    margin-top: 20px;
}

#btn-cript:hover {
    transform: scale(0.95);
}

#btn-descript:hover {
    transform: scale(0.95);
}

#btn-copy:hover {
    transform: scale(0.95);
}

aside {
    background-color: #FEFAE3;
    height: 700px;
    border-radius: 32px;
    position: absolute;
    top: 25px;
    right: 0px;
    left: 1350px;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
}

aside h1 {
    color: #001b30;
    font-weight: 700;
    text-align: center;
    font-size: 29px;
}

aside p {
    color: #495057;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

aside button {
    margin-left: 12px;
    margin-top: 10px;
    background-color: #c5d9de;
}

#fig {
    width: 246px;
    height: 234px;
    margin: 154px 2px 15px 8px;
    left: 1032px;
}

.output-text {
    text-align: justify;
    word-break: break-all;
}

.hidden-output{
    visibility: hidden;
}

@media (max-width: 900px) {
    /* header {
        padding: 20px; */
    }

    body {
        background-color: #131114;
        font-family: monospace;
        margin: 0;
        padding: 0;
    }

    .logo-img {
        height: 125px;
        width: 125px;
        margin-left: 0;
    }

    .input-text textarea {
        width: 100%;
        height: 195px;
        overflow: hidden;
        margin-top: 45px;
        margin-left: 0;
        margin-bottom: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: #FEFAE3;
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #FEFAE3;
    }

    .input-text {
        text-align: center;
        margin-right: 0;
    }

    #text-input {
        text-align: center;
        line-break: normal;
    }

    ::placeholder {
        color: #FEFAE3;
        font-weight: 400;
        font-size: 24px;
        height: 300px;
    }

    .text-warning {
        margin-top: 10px;
        text-align: center;
        color: #fcfee8;
        font-size: 10px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 5px;
    }

    .text-warning img {
        width: 10px;
        margin: -2px 5px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 30px;
        margin-left: 120px;
        width: 80%;
    }

    #btn-cript,
    #btn-descript {
        width: 80%;
        height: 70px;
        font-size: 18px;
        font-weight: 600;
        font-family: monospace;
        margin-bottom: 10px;
        margin-right: auto
    }

    aside {
       
        background-color: #FEFAE3;
        border-radius: 2px;
        position: static;
        top: auto;
        right: auto;
        flex-direction: column;
        left: auto;
        width: 100%;
        height: 50%;
        box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
     
    }

    aside h1 {
        color: #001b30;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
        width: 100%;
        margin-top: 70px;



    }

    aside p {
        color: #495057;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        margin-bottom: 200px;
        width: 100%;
        word-break: break-all;
    }

    #btn-copy {
        width: 80%;
        height: 70px;
        font-size: 18px;
        font-weight: 600;
        font-family: monospace;
        margin: -70px auto auto 22px; 
        
        
    }

    #fig {
        visibility: hidden;
        margin-bottom: -25px;
    }

    .output-text {
        text-align: justify;
        word-break: break-all;
    }

@media (max-width: 800px) {
    #btn-copy {
     
        margin-bottom: -700px;
    }

}